/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  --header1: 6.4rem;
  --header2: 2.8rem;
  --header3: 2rem;
  --description: 1.6rem;
  --primary-color: #14505c;
  --secondary-color: #0e373f;
  --header-text: #11414B;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: var(--header1);
  font-weight: 500;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-size: var(--header2);
  font-weight: 600;
  color: var(--header-text);
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size: var(--header3);
  font-weight: 600;
  color: white;
}
li,
button,
label,
input,
a,
p {
  font-family: "Open Sans", sans-serif;
  font-size: var(--description);
  color: var(--secondary-color);
}
a {
  text-decoration: none;
  font-weight: 600;
}
ul {
  list-style: none;
}
.centering {
  max-width: 1080px;
  margin: auto;
  padding: 0rem 2.5rem;
}
/* Navigation Section */
header {
  background: url(assets/img/home1.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 10rem;
}
.navbar {
  width: 100%;
  margin: auto;
  display: flex;
  justify-self: center;
  align-items: center;
  min-height: 10vh;
}
.logo {
  flex: 2.5 1 40rem;
}
.logo a {
  color: white;
}
.menu-links {
  flex: 1 1 40rem;
}
.menu-links ul {
  display: flex;
  justify-content: space-around;
}
.menu-links a {
  color: white;
}
.menu-links a:focus {
  border-bottom: 3px solid white;
  padding-bottom: 1rem;
}
/* Hero Section */
.hero-container {
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
  padding-bottom: 10rem;
}

.contents p {
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contents h1 {
  color: white;
  padding-bottom: 6rem;
}
.contents h1 span {
  font-weight: 700;
}
.primary-button {
  color: white;
  padding: 1.6rem 3.2rem;
  background: var(--primary-color);
  transition: background 0.3s ease;
}
.primary-button:hover {
  background: var(--secondary-color);
}
.hero-social-icons {
  max-width: 160px;
  padding-top: 10rem;
  display: flex;
  justify-content: space-between; 
}
.content-text {
  animation: slidein ease 2s;
}
.hero-img1{
  animation: slideicon ease-out 1s backwards;
}
.hero-img2{
  animation: slideicon ease-out 0.5s backwards 0.3s;
}
.hero-img3{
  animation: slideicon ease-out 0.5s backwards 0.6s;
}
.hero-social-icons img {
  width: 1.9rem;
  height: 1.9rem;
}
.card-container {
  display: flex;
  align-self: flex-end;
  padding: 2.4rem 1.6rem;
  background: var(--primary-color);
  align-items: center;
  justify-content: space-between;
  width: 320px;
  animation: slidein ease-in-out 1s backwards 0.5s;
}
.card-text p {
  font-weight: 600;
  color: white;
}
.card-text a {
  color: white;
}
.more-link {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.more-link a img {
  width: 1.3rem;
  height: 1.3rem;
}
.card-img {
  width: 16rem;
  height: 10.6rem;
}
/* ----------------------
   Call to Action Section
  ----------------------- */
  .cta-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10rem;
  }
  .cta-text{
    flex: 1 1 35.85em;
  }
  .cta-text h2{
    margin-bottom: 2rem;
  }
  .cta-text p{
    margin-bottom: 5rem;
  }
  .cta-images{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.5rem;
    flex: 1.5 1 35.85rem;
  }
  .img-container1{
    overflow: hidden;
  }
  .img-container2{
    overflow: hidden;
  }
  .cta-img1{
    width: 21.4rem;
    height: 32.1rem;
    transition: 0.5s ease;
  }
  .cta-img1:hover{
    transform: scale(110%);
  }
  .cta-img2{
    width: 26.9rem;
    height: 40.4rem;
    transition: 0.5s ease;
  }
  .cta-img2:hover{
    transform: scale(110%);
  }
  /* --------------------
     Discover Section
  --------------------- */
  .discover-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
  }
  .discover-heading{
    margin-bottom: 6rem;
  }
  .discover-img-container{
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }
  .discover-img img {
    width: 21.6rem;
    transition: 0.5s ease;
  }
  .discover-img img:hover{
    transform: scale(110%);
  }
  .discover-img{
    position: relative;
    overflow: hidden;
  }
  .discover-img-mid{
    position: relative;
    overflow: hidden;
  }
  .discover-img-mid img{
    width: 23.7rem;
    transition: 0.5s ease;
  }
  .discover-img-mid img:hover{
    transform: scale(110%);
  }
  .discover-img-container h2{
    color: white;
  }
  .discover-img-container p{
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
  }
  .img-text1{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .img-text2{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .img-text3{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
/* ---------------------
     Experience Section
   --------------------- */
  .experience-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
  }
  .experience-header{
    text-align: center;
    margin-bottom: 5rem;
  }
  .experiences{
    display: flex;
    justify-content: space-between;
    width: 36rem;
  }
  .experiences h2{
    margin-bottom: 1rem;
  }
  .experiences p{
    font-size: 1.4rem;
  }
  .ex-images{
    display: flex;
    margin-top: 7rem;
  }
  .ex-img1{
    overflow: hidden;
  }
  .ex-img2{
    position: relative;
    overflow: hidden;
    z-index: 100;
    margin-left: -10rem;
    margin-top: 5rem;
  }
  .ex-img1 img{
    width: 46.3rem;
    transition: 0.5s ease;
  }
  .ex-img1 img:hover{
    transform: scale(110%);
  }
  .ex-img2 img{
    width: 22rem;

    transition: 0.5s ease;
  }
  .ex-img2 img:hover{
    transform: scale(110%);
  }
/* --------------------
     Video Section
  --------------------- */
  .video-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 10rem;
  }
  .video-header{
    margin-bottom: 3rem;
  }
  .video-container p{
    margin-bottom: 4rem;
  }
  video {
    width: 67.7rem
  }
  .video {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .play-btn{
    background: var(--primary-color);
    padding: 1.4rem 2.8rem;
    border-radius: 2px;
    margin-top: -3rem;
    margin-right: 2rem;
    z-index: 5;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
  }
  .play-btn:hover{
    background: var(--secondary-color);
  }
  .fa-play{
    color: white;
    font-size: 1.6rem;
  }
/* --------------------
     Responsiveness
  --------------------- */
.burger .fa-bars,
.menu-check {
  display: none;
}

@media screen and (max-width: 1024px) {
  .card-container {
    position: absolute;
    right: 30px;
    padding: 2.4rem 1.6rem;
    width: 228px;
  }
  .card-img {
    width: 9.7rem;
    height: 6.5rem;
  }
  .card-text p {
    font-size: 1.4rem;
  }
  .card-text a {
    font-size: 1.3rem;
  }
  .more-link a img {
    width: 1rem;
    height: 1rem;
  }
  /* CTA Section */
  .cta-img1{
    width: 13rem;
    height: 19.5rem;
  }
  .cta-img2{
    width: 18rem;
    height: 27rem;
  }
  /* Discover Section */
  .discover-img img{
    width: 18.2rem;
  }
  .discover-img-mid img{
    width: 20rem;
  }
  .discover-img-container h2{
    font-size: 2rem;
  }
  /* Experience Section */
  .experience-header{
    margin-bottom: 3rem;
  }
  .experiences{
    width: 26rem;
  }
  .ex-img1 img{
    width: 36.3rem;
  }
  .ex-img2 img{
    width: 16rem;
  }
  /* Video Section */
  video {
    width: 58rem
  }
}
@media screen and (max-width: 970px) {
  html {
    --header1: 4rem;
  }
  /* CTA Section */
  .cta-text h2{
    font-size: 2rem;
  }
  .cta-text p{
    font-size: 1.5rem;
  }
  /* Discover Section */
  .discover-heading{
    font-size: 2rem;
  }
  /* Experience Section */
  .experience-header{
    font-size: 2rem;
  }
  .experiences h2{
    font-size: 2rem;
  }
  /* Video Section */
  .video-header{
    font-size: 2rem;
  }

}
@media screen and (max-width: 766px) {
  /* Burger Menu */
  .menu-check {
    position: absolute;
    top: 4%;
    right: 3%;
    transform: translate(3%, -4%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    opacity: 0;
    z-index: 100;
    display: block;
  }
  .menu-check:checked + .nav-links {
    transform: translate(-70%);
  }
  .menu-links a {
    color: #ffffff;
  }
  .menu-links ul {
    flex-direction: column;
    justify-content: flex-start;
    background: rgb(21, 50, 73);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 1;
    padding: 10rem 4.8rem 4.8rem 4.8rem;
  }
  .nav-links {
    transition: transform 0.5s ease;
  }
  .nav-links li {
    margin-bottom: 8rem;
  }
  .burger{
    z-index: 50;
  }
  .burger .fa-bars {
    font-size: 2.2rem;
    color: white;
    display: block;
  }
  /* Other Sections */
  .hero-social-icons {
    flex-direction: column;
    justify-content: flex-start;
  }
  .hero-social-icons a:not(:last-child) img {
    margin-bottom: 2rem;
  }
  /* CTA Section */
  .cta-container{
  flex-direction: column;
  }
  .cta-text{
    text-align: center;
    flex: 0;
  }
  .cta-img1{
    width: 100%;
  }
  .cta-img2{
    width: 100%;
  }
  /* Experience Section */
  .experience-header{
    margin-top: 28rem;
  }
    /* Video Section */
    video {
      width: 43.5rem;
    }
}
@media screen and (max-width: 766px){
  /* Discover Section */
  .discover-img-container{
    position: relative;
    width: 100%;
    justify-content: center;
  }
  .discover-img-mid {
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translateX(-50%);
  }
  .discover-img{
    max-width: 182px;
  }
  /* Experience Center */
  .ex-img1 img{
    width: 26.3rem;
  }
  .ex-img2 img{
    width: 12rem;
  }
  /* Experience Center */
  video {
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .card-img {
    width: 8rem;
    height: 5.3rem;
  }
  /* Discover Section */
  .discover-img-container{
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2rem;
  }
  .discover-img-mid {
    position: static;
    transform: translateX(0);
  }
  /* Experience Section */
  .experience-header{
    margin-top: 0rem;
  }
}

@keyframes slide-left{
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 0;
  }
}

@keyframes slidein {
 from {
    transform: translateY(-10%);
    opacity: 0;
  }

  to{
    transform: translateY((0%);
    opacity: 1;
  }
}




